body {
  background-image: url('../../static/images/themes/bg2.jpg');
  background-attachment: fixed;
  font-family: helvetica, arial sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

div {
  margin: 0px;
  padding: 0px;
}

table {
  border: 0px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

img {
  border: 0px;
}

/* L A Y O U T */
.clearboth { clear: both; }

.sidebar { width: 800px; }
.bodybar { width: 730px; padding: 20px; }

#header-box { width: 100%; height: 10px; background: #B4A085; }
#body-box { width: 800px; padding: 0px; margin: 0px auto; background: #F2EAD3; clear: both; }

#contact-sidebar { background: #41A9F5; }
#skills-sidebar { background: #F1439F; }
#experience-sidebar { background: #F5A041; }
#contact-bodybar, #skills-bodybar, #experience-bodybar { background: #F2EAD3; }


/* P R O F I L E */
.name { width: 520px; margin: 0 0 20px 0; float: left; }
.name .first-and-last { font-family: 'League Gothic'; font-size: 60px; text-transform: uppercase; font-weight: bold; }
.name .title { float: left; text-align: right; text-transform: uppercase; font-weight: bold; color: #808080; margin-left: 220px; margin-top: -15px; }

.picture-and-social { width: 200px; margin-left: 10px; float: right; }
.picture-and-social .profile-picture { width: 200px; height: 200px; margin:0; background-image: url('//s.gravatar.com/avatar/404d7ab24de23aad36ad2bc93b61de4c?s=200'); }
.picture-and-social .social-networks { width: 200px; margin: 0; text-align: right; }
.picture-and-social .social-networks .social-icon { color: #000; }
.rounded-corners { -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

.contact-info { margin-top: 40px; margin-left: 20px; }


/* S K I L L S */
.university-info { margin-bottom: 20px; }
.experience-description { padding-bottom: 10px; }

/* F O O T E R */
.footer-box { width: 100%; background: #25251A; border-top: 10px solid #785C35; color: #F2EAD3; clear: both; }
.footer-contents { width: 756px; margin-left: auto; margin-right: auto; }
.license-agreement { padding-bottom: 20px; }
.license-agreement, .resume-button { clear: both; float: none; margin: 0 auto 0 auto; text-align: center; }


/* S T A T U S   B A R */
.current-status { float: left; margin: 5px; width: 200px; padding-left: 40px; min-height: 120px; border: 1px solid #785C35; }
.label { font-size: 110%; font-weight: bold; padding: 10px 0 5px 0; }


/* R E S U M E   B U T T O N */
.button {
text-align:center;
text-decoration: none;
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 150%;
color: #FFF;
background: #0CADA7;
padding: 20px 60px;
display: inline-block;
white-space: nowrap;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin: 10px 0;
-webkit-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.button:hover {
background: #0A948F;
}