/******************************************************************************
 * Basic Themes                                                               *
 ******************************************************************************/

body {
	background-image: url(/static/images/themes/bg2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: helvetica, arial sans-serif;
	font-size: 12px;
}

table{
	font-size: 12px;
	border: 0px;
	margin: 0px;
	width: 100%;
}

/******************************************************************************
 * Specific Entities                                                          *
 ******************************************************************************/

#cv {
	width: 800px;
	margin: 0 auto 0 auto;
	padding: 0px;
	overflow: hidden;
    position: relative;
}

/* - Contact Information - */

/* Contact Information: IDs */

#contact-sidebar { background: #41A9F5; }

#contact-container {
	float: left;
	padding: 20px;
	margin: 0px;
	width: 510px;
}

#contact-info-table {
	text-align: center;
}

#profile-picture {
	width: 200px; height: 200px;
	float: right;
	padding: 0px;
	margin: 10px;
	background-image: url(/static/images/contact_info/andrew_profile_small.jpg);
}

#social-networks {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#name-heading {
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -0.1 em;
	text-transform: uppercase;
	display: inline-block;
}

#name-subheading {
	font-size: 14px;
	text-align: right;
	color: #808080;
	letter-spacing: +0 em;
}

/* Contact Information: Classes */

.social-network-icon {
	width: 32px; height: 32px;
	border: 0px;
}

.contact-info {
	text-align: left;
	padding-left: 5px;
	font-size: 12px;
}

.contact-info-image-wrapper {
	width: 17px; height: 17px;
}

.contact-info-image {
	width: 100%;
}

/* - Skills and Education - */

/* Skills and Education: IDs */

#skills-education-sidebar { background: #F1439F; }

#skills-education-wrapper-1 {
	width: 510px;
	padding: 20px;
}

#skills-education-wrapper-2 {
	width: 770px;
	padding: 0px 20px 20px 20px;
}

/* - Experience - */

/* Experience: IDs */

#experience-sidebar { background: #F5A041; }

#experience-wrapper {
	padding: 20px;
}

/* Experience: Classes */

.experience-description {
	padding-bottom: 20px;
}

.experience-years {
	text-align: right;
	color: #808080;
}

.experience-company {
	font-style: italic;
}

/******************************************************************************
 * General Classes                                                            *
 ******************************************************************************/

.sidebar {
	width: 30px; height: 100%;
	float: left;
	position: absolute;
    left: 0;
	background: #25251A;
	margin: 0px;
}

.bodybar {
	width: 770; height: auto;
	float: right;
	margin: 0px;
	background: #F2EAD3;
}

.label {
	font-size: 14px;
	font-weight: bold;
	padding: 10 0 5 0;
}

.rounded-corners {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.clearboth { clear:both; }